.bd-sidebar-primary::-webkit-scrollbar {
    width: 0px;
}

.bd-sidebar-primary::-webkit-scrollbar-thumb {
    background: transparent;
}

.bd-sidebar-primary {
    overflow: hidden;
}

footer.bd-footer-content {
    border-top: 1px solid var(--pst-color-border);
}